#container-digits {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid grey;
}

mat-form-field {
    margin-right: 12px;
}

::ng-deep mat-paginator .mat-paginator-container {
    justify-content: flex-start;
}