#canvas-data-input {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#canvas-data-input .column-1 {
    flex-basis: 30%;
}

#canvas-data-input .column-2 {
    flex-basis: 20%;
}

#canvas-data-input .column-3 {
    flex-basis: 30%;
}

#digit-canvas-big-result-of-prediction {
    border: 15px solid rgba(204, 204, 204, 0.5);
    border-radius: 15px;
    transition: border-color .2s ease-in;
}

#digit-canvas-small {
    border: 2px solid lightblue;
    border-radius: 2px;
    display: block;
}