<main class="center">
    <h1></h1>
    <mat-horizontal-stepper #stepper>
        <mat-step>
            <ng-template matStepLabel>Datensatz</ng-template>
            <section>
                <app-dataset (onReceiveDatasetDescription)="onReceiveDatasetDescription($event)"></app-dataset>
                <section *ngIf="datasetDescription" id="section-traindata">
                    <h3>1.1 Trainingsdaten</h3>
                    <app-digits [boxed]="true" [paginated]="true" [digitDataset]="digitTrainDataset"></app-digits>
                </section>
            </section>
            <div>
                <button mat-button matStepperNext>Next</button>
            </div>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>k nächste Nachbarn</ng-template>
            <section *ngIf="datasetDescription" id="section-KNN">
                <app-knn-builder #knnBuilder [datasetDescription]="datasetDescription" (knnClassifier)="onReceiveKnnClassifier($event)"></app-knn-builder>
            </section>
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
            </div>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Vorhersage</ng-template>
            <section *ngIf="knnClassifier" id="section-data-input">
                <app-prediction *ngIf="knnClassifier" [kernelWidthAndHeight]="datasetDescription.kernelWidthAndHeight" [knnClassifier]="knnClassifier" [datasetDescription]="datasetDescription"></app-prediction>
            </section>
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
            </div>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Testdaten</ng-template>
            <section *ngIf="knnClassifier" id="section-testdata">
                <p><button class="evaluate-testdata-button" (click)="computeAccuracy()">Testdaten auswerten</button></p>
                <div *ngIf="!testdataEvaluated" id="knnProgress">
                    <h3>4.1 Fortschritt</h3>
                    <app-knn-progress [numProgessElements]="numWorkers"></app-knn-progress>
                </div>
                <div *ngIf="accuracy" id="accuracy-panel">
                    <p>
                        <!-- FK-TODO: Accuracy sichtbarer anzeigen -->
                        Accuracy: {{accuracy}}%
                    </p>
                </div>
                <div id="testdata-panel">
                    <section id="section-digits-test">
                        <app-digits [boxed]="true" [paginated]="true" [digitDataset]="digitTestDataset"></app-digits>
                    </section>
                    <div id="container-testDataSet"></div>
                </div>
            </section>
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button (click)="stepper.reset()">Reset</button>
            </div>
        </mat-step>
    </mat-horizontal-stepper>
</main>