<main class="center">
    <h1>Handgeschriebene Ziffern erkennen</h1>
    <mat-horizontal-stepper #stepper>
        <mat-step>
            <ng-template matStepLabel>Trainingsdaten auswählen</ng-template>
            <section>
                <app-dataset (onReceiveDatasetDescription)="onReceiveDatasetDescription($event)"></app-dataset>
            </section>
            <section *ngIf="datasetDescription" id="section-traindata">
                <app-digits [boxed]="true" [paginated]="true" [digitDataset]="digitTrainDataset"></app-digits>
            </section>
            <div>
                <button mat-button matStepperPrevious>zurück</button>
                <button mat-button matStepperNext>weiter</button>
            </div>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>k nächste Nachbarn berechnen</ng-template>
            <section *ngIf="datasetDescription" id="section-KNN">
                <app-knn-builder #knnBuilder [datasetDescription]="datasetDescription" (knnClassifier)="onReceiveKnnClassifier($event)">
                    <button mat-button matStepperPrevious>zurück</button>
                    <button mat-button matStepperNext>berechnen</button>
                </app-knn-builder>
            </section>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Testdaten auswerten</ng-template>
            <mat-tab-group>
                <mat-tab label="handgeschriebene Ziffern auswerten">
                    <section *ngIf="knnClassifier" id="section-data-input">
                        <app-prediction *ngIf="knnClassifier" [kernelWidthAndHeight]="datasetDescription.kernelWidthAndHeight" [knnClassifier]="knnClassifier" [datasetDescription]="datasetDescription"></app-prediction>
                    </section>
                </mat-tab>
                <mat-tab label="Testdaten auswerten">
                    <section *ngIf="knnClassifier" id="section-testdata">
                        <p><button class="evaluate-testdata-button" (click)="computeAccuracy()">Testdaten auswerten</button></p>
                        <div *ngIf="!testdataEvaluated" id="knnProgress">
                            <h3>Fortschritt</h3>
                            <app-knn-progress [numProgessElements]="numWorkers"></app-knn-progress>
                        </div>
                        <div *ngIf="accuracy" id="accuracy-panel">
                            <p>
                                <!-- FK-TODO: Accuracy sichtbarer anzeigen -->
                                Accuracy: {{accuracy | number:'0.0-1'}}%
                            </p>
                        </div>
                        <div id="testdata-panel">
                            <section id="section-digits-test">
                                <app-digits [boxed]="true" [paginated]="true" [digitDataset]="digitTestDataset"></app-digits>
                            </section>
                            <div id="container-testDataSet"></div>
                        </div>
                    </section>
                </mat-tab>
            </mat-tab-group>
            <div>
                <button mat-button matStepperPrevious>zurück</button>
                <button mat-button (click)="stepper.reset()">von vorne</button>
            </div>
        </mat-step>
    </mat-horizontal-stepper>
</main>