<!-- FK-TODO: verwende https://material.angular.io/ -->
<main class="center">
    <h1></h1>
    <section>
        <h2>1. Datensatz</h2>
        <app-dataset (onReceiveDatasetDescription)="onReceiveDatasetDescription($event)"></app-dataset>
        <section *ngIf="datasetDescription" id="section-traindata">
            <h3>1.1 Trainingsdaten</h3>
            <app-digits [digitDataset]="digitTrainDataset"></app-digits>
        </section>
    </section>
    <section *ngIf="datasetDescription" id="section-KNN">
        <h2>2. k nächste Nachbarn</h2>
        <app-knn-builder #knnBuilder [datasetDescription]="datasetDescription" (knnClassifier)="onReceiveKnnClassifier($event)"></app-knn-builder>
    </section>
    <section *ngIf="knnClassifier" id="section-data-input">
        <h2>3. Vorhersage</h2>
        <app-prediction *ngIf="knnClassifier" [kernelWidthAndHeight]="datasetDescription.kernelWidthAndHeight" [knnClassifier]="knnClassifier" [datasetDescription]="datasetDescription"></app-prediction>
    </section>
    <section *ngIf="knnClassifier" id="section-testdata">
        <h2>4. Testdaten</h2>
        <p><button class="evaluate-testdata-button" (click)="computeAccuracy()">Testdaten auswerten</button></p>
        <div *ngIf="!testdataEvaluated" id="knnProgress">
            <h3>4.1 Fortschritt</h3>
            <app-knn-progress [numProgessElements]="numWorkers"></app-knn-progress>
        </div>
        <div *ngIf="accuracy" id="accuracy-panel">
            <p>
                <!-- FK-TODO: Accuracy sichtbarer anzeigen -->
                Accuracy: {{accuracy}}%
            </p>
        </div>
        <div id="testdata-panel">
            <section id="section-digits-test">
                <app-digits [digitDataset]="digitTestDataset"></app-digits>
            </section>
            <div id="container-testDataSet"></div>
        </div>
    </section>
</main>