@charset "UTF-8";

/* FK-TODO: css-Dateien aufräumen: globale styles.css entleeren bis auf "* {box-sizing: ...}" */

* {
    box-sizing: border-box;
    /* padding & border nach innen darstellen */
}

img {
    max-width: 100%;
    /* img dürfen sich verkleinern */
    height: auto;
}

body {
    font: 10pt sans;
}

h1,
h4 {
    text-align: center;
}

.center {
    max-width: 1040px;
    margin-left: auto;
    margin-right: auto;
}

#datasetTableContainer {
    margin-top: 20px;
}

#decisionTreeNetwork {
    width: 100%;
    height: 600px;
    border: 1px solid lightgray;
}

#decisionTreeForm,
#progress {
    margin-bottom: 10px;
}

.dataInputFields {
    display: table;
    border-spacing: 0.5em;
}

.dataInputFields>div {
    display: table-row;
}

.dataInputFields>div>label,
.dataInputFields>div>input {
    display: table-cell;
}

.dataInputFields>div>input {
    width: 100px;
}

.dataInputFields>div>input[type=file] {
    width: 400px;
}

.wrongPrediction {
    /* FK-TODO: kein !important verwenden, andere Lösung suchen */
    background-color: red !important;
}


/* FK-TODO: daraus eine Klasse machen, z.B.: displays-digits */

#container-k-nearest-digits,
#container-digits-train,
#container-digits-test {
    display: flex;
    flex-wrap: wrap;
}

div.digit {
    padding: 10px;
}

div.digit canvas {
    border: 1px solid #d3d3d3;
}

div.digit figcaption {
    text-align: center;
}

div.digit figcaption.wrongPrediction {
    color: red;
    font-weight: bold;
    /* FK-TODO: kein !important verweenden, andere Lösung suchen */
    background-color: inherit !important;
}

#text-data-input {
    display: none;
}

#digit-canvas-big,
#digit-canvas-big-result-of-prediction {
    border: 15px solid rgba(204, 204, 204, 0.5);
    border-radius: 15px;
    transition: border-color .2s ease-in;
}

#digit-canvas-big {
    cursor: crosshair;
}

#digit-canvas-big:hover {
    border-color: rgba(204, 204, 204, 1);
}

#digit-canvas-small {
    border: 2px solid lightblue;
    border-radius: 2px;
    display: none;
}

#decisionTreeNetwork-enhanced-switcher {
    margin-bottom: 15px;
}

mat-card {
    margin: 15px;
}