@charset "UTF-8";
* {
    box-sizing: border-box;
    /* padding & border nach innen darstellen */
}

img {
    max-width: 100%;
    /* img dürfen sich verkleinern */
    height: auto;
}

body {
    font: 10pt sans;
}

h1 {
    text-align: center;
}

.center {
    max-width: 1040px;
    margin-left: auto;
    margin-right: auto;
}

#datasetTableContainer {
    margin-top: 20px;
}

#dataInputAndDecisionTree {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#dataInputAndDecisionTree #section-data-input {
    flex-basis: 20%;
}

#dataInputAndDecisionTree #section-decision-tree {
    flex-basis: 75%;
}

#decisionTreeNetwork {
    width: 100%;
    height: 600px;
    border: 1px solid lightgray;
}

#decisionTreeForm {
    margin-bottom: 10px;
}

.dataInputFields {
    display: table;
    border-spacing: 0.5em;
}

.dataInputFields>div {
    display: table-row;
}

.dataInputFields>div>label,
.dataInputFields>div>input {
    display: table-cell;
}

.dataInputFields>div>input {
    width: 100px;
}