<form id="knnForm" [formGroup]="knnForm" (ngSubmit)="onSubmit()">
    <div class="dataInputFields">
        <mat-form-field>
            <mat-label for="knn-k">k:</mat-label>
            <input matInput required min="1" formControlName="k" name="knn-k" id="knn-k" type="number">
        </mat-form-field>
        <div *ngIf="k.invalid && (k.dirty || k.touched)" class="alert alert-danger">
            <div *ngIf="k.errors.required">
                k is required.
            </div>
            <div *ngIf="k.errors.min">
                k must be >= 1.
            </div>
        </div>
    </div>
    <ng-content></ng-content>
</form>